body {
	width: 100wh;
	height: 90vh;
	color: rgb(255, 227, 167);
	font-family: fantasy;
	background: linear-gradient(-45deg,#ee76ee, rgb(22, 196, 114), rgb(255, 215, 107), rgba(231, 68, 39, 0.637));
	background-size: 400% 400%;
	overflow: hidden;
}